html {
    background-color: green;
}

canvas {
    border: 1px solid red;
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}